extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Sign Up'
  - form = form || {}

block content
  .container.has-text-centered
    .section
      .card.is-inline-block
        form(method='post' autocomplete='on' action='/signup')
          .card-content
            h1.title.is-3 Sign Up for a New Account

            .field.has-text-left
              label.label Username
              p.control
                input.input(type='text' autocomplete='username' name='username' value=form.username placeholder='Pick a username' required)
                if errors && errors.username
                  .help.is-danger= errors.username.msg
            .field.has-text-left
              label.label Email
              p.control
                input.input(type='email' autocomplete='email' name='email' value=form.email placeholder='Your Email Address' required)
                if errors && errors.email
                  .help.is-danger= errors.email.msg
            .field.has-text-left
              label.label Password
              p.control
                input.input(name='password' type='password' autocomplete='password' value=form.password minlength=10 required)
                if errors && errors.password
                  .help.is-danger= errors.password.msg

          .card-content
            .field
              p.control
                input.button.is-primary.is-fullwidth(type='submit' value='Sign Up')
          .card-footer
            a.card-footer-item(href='/signin') Already have an account?
