extends ../layout/dashboard

block globalVars
  - var metaTitle = 'Release Notes - Auth Tokens'
  - var pageSubtitle = 'Private Auth Tokens'
  - var activeTab = 'auth-tokens'

block pageContent
  if authTokenList && authTokenList.length
    .is-inline-block
      table.table
        tr
          th Token
          th Description
          th Created
          th
        each authToken in authTokenList
          tr
            td
              code
                | #{authToken.token}
            td #{authToken.description}
            td
              - var issueDate = moment(authToken.createdAt)
              span(title=issueDate.format('LLL'))
                | #{issueDate.fromNow()}
            td
              form(method='post' action='/auth-tokens/delete')
                input(type='hidden' name='id' value=authToken._id)
                button.button.is-small(type='submit')
                  span.icon
                    i.mdi !{mdi('delete')}
                  span Delete

append content
  .hero.is-light
    .hero-body.has-text-centered
      .container
        .is-inline-block.has-text-left
          form(method='post' action='/auth-tokens/new')
            h3.subtitle Create new access token
            .field.has-addons
              .control
                input.input(type='text' name='description' placeholder="Token description")
                .help.has-text-grey What is this token for?
              .control
                input.button.is-primary.is-fullwidth(type='submit' value='Create Token')
