extends ../layout/dashboard

append globalVars
  - var metaTitle = 'Release Notes - Auth Tokens'
  - var pageSubtitle = 'Private Auth Tokens'
  - var activeTab = 'auth-tokens'

block pageContent
  if authTokenList && authTokenList.length
    table.table.is-fullwidth
      tr
        th Token
        th Description
        th Created
        th
      each authToken in authTokenList
        tr
          td
            code
              | #{authToken.token}
          td
            small.has-text-grey
              | #{authToken.description}
          td
            - var issueDate = moment(authToken.createdAt)
            small.has-text-grey(title=issueDate.format('LLL'))
              | issued #{issueDate.fromNow()}
          td
            form(method='post' action='/auth-tokens/delete')
              input(type='hidden' name='id' value=authToken._id)
              button.button(type='submit' title="Delete Auth Token")
                span.icon
                  i.mdi !{mdi('delete')}

append content
  .hero.is-light
    .hero-body.has-text-centered
      .container
        .is-inline-block.has-text-left
          form(method='post' action='/auth-tokens/new')
            h3.subtitle Create new access token
            .field.has-addons
              .control
                input.input(type='text' name='description' placeholder="Token description")
                .help.has-text-grey What is this token for?
              .control
                input.button.is-primary.is-fullwidth(type='submit' value='Create Token')
