extends ../layout/dashboard

append globalVars
  - var metaTitle = 'Release Notes - Teams'
  - var pageSubtitle = 'My Teams'
  - var activeTab = 'teams'
  - var pageCls = 'teams-page'

block pageContent
  .columns
    .column
      if !teams || !teams.length
        .message
          .message-body
            p You have not teams, yet.
      else
        table.table.is-fullwidth
          tr
            th Team
            th
            th Joined
            th
          each team in teams
            tr
              td
                a(href=`/@${team.name}`)
                  strong @#{team.name}
              td
                if team.name === user.username
                  span.team-role.tag.is-primary.is-rounded Account
                else
                  span.team-role.tag.is-rounded #{team.membership.role}
              td
                small.has-text-grey joined #{moment(team.membership.joinedAt).fromNow()}
              td
                span.icon.is-large(title="Members")
                  i.mdi !{mdi('account-multiple')}
                  span &nbsp;&nbsp;#{team.members && team.members.length}
                a.button(href=`/teams/@${team.name}` title="Edit Team")
                  span.icon
                    i.mdi !{mdi('settings')}


append content
  .hero.is-light
    .hero-body.has-text-centered
      .container
        .is-inline-block.has-text-left
          if user.username
            form(method='post' action='/teams/new')
              h3.subtitle Create new Team
              .field.has-addons
                .control
                  input.input(type='text' name='name' value=(form && form.name) placeholder="team-awesome")
                  if errors && errors.name
                    .help.is-danger= errors.name.msg
                  .help.has-text-grey Unique team name (only numbers, letters and dashes)
                  .help.has-text-grey Your name on release-notes.com/<b>@team-awesome</b>
                .control
                  input.button.is-primary.is-fullwidth(type='submit' value='Create Team')
          else
            form(method='post' action='/teams/claim-username')
              h3.subtitle Claim Username
              h6.subtitle.is-6.
                In order to create or join teams, you need to setup an username first.
              .field.has-addons
                .control
                  input.input(type='text' name='username' value=(form && form.username) placeholder="Pick an username")
                  if errors && errors.username
                    .help.is-danger= errors.username.msg
                  .help.has-text-grey Your unique username (only numbers, letters and dashes)
                  .help.has-text-grey Your name on release-notes.com/<b>@user-name</b>
                .control
                  input.button.is-primary.is-fullwidth(type='submit' value='Claim Username')
