extends ../layout/main

block globalVars
  - var metaTitle = `Release Notes - @${scope}/${releaseNotesName}`

block content
  .hero.is-light
    .hero-body
      .container.has-text-centered
        h2.title.is-3 #{releaseNotes.title}

        if releaseNotes.description
          h2.subtitle #{releaseNotes.description}

  .section
    .container.has-text-centered
      if releaseNotes
        .release-notes
          each release in releaseNotes.releases
            .columns.release
              .column
                .title.is-3 #{release.version}

                if release.date
                  .subtitle.is-6 #{release.date}
              .column.has-text-center
                .content.has-text-left.is-inline-block-mobile
                  each modifications, modificationType in release.getModifications()
                    if modifications && modifications.length
                      div.modification-list
                        span.tag.is-dark #{modificationType}
                        ul
                          each modification in modifications
                            li
                              if typeof modification === 'string'
                                | #{modification}
                              else
                                | #{modification.title}

block header
  .container
    nav.navbar.is-transparent.has-text-centered.has-content-centered
      .navbar-item
        if isSubscribed
          a.button.is-primary(href=`/@${scope}/${releaseNotesName}/unsubscribe`)
            span.icon
              i.mdi.mdi-24 !{mdi('wifi-off')}
            span Unsubscribe from updates
        else
          a.button.is-primary(href=`/@${scope}/${releaseNotesName}/subscribe`)
            span.icon
              i.mdi.mdi-24 !{mdi('radar')}
            span Subscribe for updates

block footer
  .has-text-centered
    span.has-text-grey powered by&nbsp;
      a(href='/')
        img.logo(src=asset('img/release-notes-logo.svg'))
        span(style="padding-left: 1.5rem") Release Notes
