extends ../layout/main

block globalVars
  - var metaTitle = `Release Notes - Update @${releaseNotes.scope}/${releaseNotes.name}`

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 Update @#{releaseNotes.scope}/#{releaseNotes.name}

  .section
    .container.has-text-centered
      if releaseNotes
        .hero
          .hero-body.has-text-centered
            if errors && (errors.validation || errors.file)
              .message
                .message-body
                  .subtitle.is-5 Release Notes Validation failed.
                  if errors.validation
                    p= errors.validation.msg
                  if errors.file
                    p= errors.file.msg
            .is-inline-block
              .subtitle.is-4 Publish New Revision
              form(method='post' enctype='multipart/form-data' action=`/release-notes/${releaseNotesId}`)
                .field.is-grouped
                  .control
                    .file.has-name
                      label.file-label
                        input#js-file-input.file-input(type="file" name="release-notes" accept=".yml, .yaml" required)
                        span.file-cta
                          span.file-icon
                            i.material-icons file_upload
                          span.file-label Choose
                        span#js-file-name.file-name ...release-notes.yml
                  .control
                    button.button.is-primary(type="submit") Publish

        .section
          table.table
            tr
              th Badge
              td
                a#js-badge-integration
                  img(src='/badges/v1.svg' title='Subscribe for updates on release-notes.com')
                  | &nbsp;&nbsp;&nbsp;
                  span.icon.is-small(title='Copy markdown')
                    i.material-icons.md-18 content_paste
                div.control
                  textarea.textarea.is-small.is-focused.is-hidden#js-badge-integration-text(rows=1 readonly).
                    [![Subscribe to Release Notes](https://release-notes.com/badges/v1.svg)](https://release-notes.com/@#{releaseNotes.scope}/#{releaseNotes.name})
            tr
              th Title
              td= releaseNotesDataModel.title
            tr
              th Description
              td= releaseNotesDataModel.description
            each release in releaseNotesDataModel.releases
              tr
                th= release.version
                td.content
                  if release.date
                    .subtitle.is-6 #{release.date}
                  each modifications, modificationType in release.getModifications()
                    if modifications && modifications.length
                      span.tag.is-dark #{modificationType}
                      ul
                        each modification in modifications
                          li
                            if typeof modification === 'string'
                              | #{modification}
                            else
                              | #{modification.title}

append scripts
  script.
    document.addEventListener('DOMContentLoaded', function () {
      var fileInputEl = document.getElementById('js-file-input');
      var fileNameEl = document.getElementById('js-file-name');

      fileInputEl.addEventListener('change', function() {
        if (fileInputEl.files.length > 0) {
          fileNameEl.innerHTML = fileInputEl.files[0].name;
        }
      });

      var badgeIntegrationTrigger = document.getElementById('js-badge-integration');
      var badgeIntegrationTextElement = document.getElementById('js-badge-integration-text');

      badgeIntegrationTrigger.addEventListener('click', function() {
        badgeIntegrationTextElement.classList.toggle('is-hidden');
        badgeIntegrationTextElement.focus();
        badgeIntegrationTextElement.select();
      });
    });
