extends ../layout/dashboard

block globalVars
  - var metaTitle = `Release Notes - Update @${releaseNotes.scope}/${releaseNotes.name}`
  - var pageSubtitle = `Update @${releaseNotes.scope}/${releaseNotes.name}`
  - var activeTab = 'release-notes'
  - var navSubLevel = 'edit'

block pageContent
  if releaseNotes
    .section
      h3.subtitle.is-3 Settings
      form(method="post" action=`/release-notes/@${releaseNotes.scope}/${releaseNotes.name}/settings`)
        .field.is-horizontal
          .field-label: label.label Badges
          .field-body
            .field
              p.control.has-text-left
                a#js-badge-integration-1
                  img(src='/badges/v1.svg' title='Subscribe for updates on release-notes.com')
                  | &nbsp;&nbsp;&nbsp;
                  span.icon(title='Copy markdown')
                    i.mdi.mdi-18 !{mdi('content-paste')}

                textarea.textarea.is-small.is-focused.is-hidden#js-badge-integration-text-1(rows=1 readonly).
                  [![Subscribe to Release Notes](https://release-notes.com/badges/v1.svg)](https://release-notes.com/@#{releaseNotes.scope}/#{releaseNotes.name})
        .field.is-horizontal
          .field-label: label.label
          .field-body
            .field
              p.control.has-text-left
                a#js-badge-integration-2
                  img(src='/badges/v2.svg' title='Release notes on release-notes.com')
                  | &nbsp;&nbsp;&nbsp;
                  span.icon(title='Copy markdown')
                    i.mdi.mdi-18 !{mdi('content-paste')}
                textarea.textarea.is-small.is-focused.is-hidden#js-badge-integration-text-2(rows=1 readonly).
                  [![Release Notes](https://release-notes.com/badges/v2.svg)](https://release-notes.com/@#{releaseNotes.scope}/#{releaseNotes.name})

        .field.is-horizontal
          .field-label: label.label Public Url
          .field-body
            .field.has-addons
              .control: a(href=`/@${releaseNotes.scope}/${releaseNotes.name}` target="_blank")
                | https://release-notes.com/<b>@#{releaseNotes.scope}/#{releaseNotes.name}</b>
        .field.is-horizontal
          .field-label: label.label Title
          .field-body
            .field
              p.control
                input.input(type='text' name='title' placeholder=releaseNotesDataModel.title value=releaseNotes.page.title)
        .field.is-horizontal
          .field-label: label.label Description
          .field-body
            .field
              p.control
                textarea.textarea(name='description' placeholder=releaseNotesDataModel.description)= releaseNotes.page.description
        .field.is-horizontal
          .field-label: label.label Github Repo
          .field-body
            .field.has-addons
              .control: a.button.is-static https://github.com/
              .control
                input.input(type='text' name='githubRepo' value=releaseNotes.page.githubRepo)

        .field.is-horizontal
          .field-label
          .field-body
            .field
              p.control
                input.button.is-primary(type='submit' value='Update')
      hr
      .hero
        .hero-body.has-text-centered
          if errors && (errors.validation || errors.file)
            .message
              .message-body
                .subtitle.is-5 Release Notes Validation failed.
                if errors.validation
                  p= errors.validation.msg
                if errors.file
                  p= errors.file.msg
          .is-inline-block
            .subtitle.is-4 Publish New Revision
            form(method='post' enctype='multipart/form-data' action=`/release-notes/@${releaseNotes.scope}/${releaseNotes.name}`)
              .field.is-grouped
                .control
                  .file.has-name
                    label.file-label
                      input#js-file-input.file-input(type="file" name="release-notes" accept=".yml, .yaml, .json, .md" required)
                      span.file-cta
                        span.file-icon
                          i.mdi.mdi-18 !{mdi('upload')}
                        span.file-label Choose
                      span#js-file-name.file-name ...release-notes.yml
                .control
                  button.button.is-primary(type="submit") Publish
      hr
      h3.subtitle.is-3 Releases
      table.table
        each release in releaseNotesDataModel.releases
          tr
            th= release.version
            td.content
              if release.date
                - var releaseMoment = moment(release.date)
                .subtitle.is-6(title=releaseMoment.fromNow()) #{releaseMoment.format('LL')}
              each modifications, modificationType in release.getModifications()
                if modifications && modifications.length
                  span.tag.is-dark #{modificationType}
                  ul
                    each modification in modifications
                      li
                        if typeof modification === 'string'
                          | #{modification}
                        else
                          | #{modification.title}

append scripts
  script.
    document.addEventListener('DOMContentLoaded', function () {
      var fileInputEl = document.getElementById('js-file-input');
      var fileNameEl = document.getElementById('js-file-name');

      fileInputEl.addEventListener('change', function() {
        if (fileInputEl.files.length > 0) {
          fileNameEl.innerHTML = fileInputEl.files[0].name;
        }
      });

      [1, 2].forEach(function (badge) {
        var badgeIntegrationTrigger = document.getElementById('js-badge-integration-' + badge);
        var badgeIntegrationTextElement = document.getElementById('js-badge-integration-text-' + badge);

        badgeIntegrationTrigger.addEventListener('click', function () {
          badgeIntegrationTextElement.classList.toggle('is-hidden');
          badgeIntegrationTextElement.focus();
          badgeIntegrationTextElement.select();
        });
      });
    });
