extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Listing'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 Release Notes of @#{scope}

  .section
    .container.has-text-centered
      .card.is-inline-block
        .card-content
          ul.has-text-left
            each releaseNotes in releaseNotesList
              li
                a(href=`/@${releaseNotes.scope}/${releaseNotes.name}`)
                  | @#{releaseNotes.scope}/#{releaseNotes.name}
                div.is-small #{releaseNotes.title}
