extends ../layout/dashboard

block globalVars
  - var metaTitle = 'Release Notes - My Release Notes'
  - var pageSubtitle = 'My Release Notes'
  - var activeTab = 'release-notes'

block pageContent
  if releaseNotesList && releaseNotesList.length
    table.table.is-inline-block
      tr
        th Name
        th Title
        th
      each releaseNotes in releaseNotesList
        tr
          td
            a(href=`/@${releaseNotes.scope}/${releaseNotes.name}`)
              | @#{releaseNotes.scope}/#{releaseNotes.name}
          td #{releaseNotes.title}
          td
            a.is-small.button(href=`/release-notes/${releaseNotes._id}`)
              span.icon
                i.mdi !{mdi('pencil')}
              span Update

  .hero
    .hero-body.has-text-centered
      .container
        a.button.is-primary(href='/publish') Publish Release Notes
