extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - My Release Notes'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 My Release Notes

  .section
    .container.has-text-centered
      if releaseNotesList && releaseNotesList.length
        table.table.is-inline-block
          tr
            th Name
            th Title
            th
          each releaseNotes in releaseNotesList
            tr
              td
                a(href=`/@${releaseNotes.scope}/${releaseNotes.name}`)
                  | @#{releaseNotes.scope}/#{releaseNotes.name}
              td #{releaseNotes.title}
              td
                a.is-small.button(href=`/release-notes/${releaseNotes._id}`) Edit

      .hero
        .hero-body.has-text-centered
          .container
            a.button.is-primary(href='/publish') Publish Release Notes
