extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Publish'

block content
  .container.has-text-centered
    .section
      if err
        .message
          .message-body
            .subtitle.is-5 Release Notes Validation failed.
            p #{err.message}

      .card.is-inline-block
        form(method='post' enctype='multipart/form-data' action='/publish')
          .card-content
            h1.title.is-3 Publish Release Notes

            .field.has-text-left
              label.label Release Notes Name
              p.control
                input.input(
                  type='text' value=(form && form.name) autocomplete='name' name='name'
                  placeholder="Unique name of the release notes"
                  class=(errors && errors.name && 'is-danger')
                )
                if errors && errors.name
                  span.help.is-danger= errors.name.msg
            .field.has-text-left
              label.label Release Notes File
              p.control
                input.input(name='release-notes' type='file' required class=(errors && errors.file && 'is-danger'))
                if errors && errors.file
                  span.help.is-danger= errors.file.msg

          .card-content
            .field
              p.control
                input.button.is-primary.is-fullwidth(type='submit' value='Publish')
