extends ../layout/main

block globalVars
  - var pageCls = 'rn-landing-page'

block content
  .container.has-text-centered

    .hero.is-primary
      .hero-head
        h1.title.is-1 Release Notes Hub

    .hero
      .hero-body
        h2.subtitle.is-4(style='width:100%') <em>Happy customers and up to date dependencies</em>

    .hero
      .hero-head
        h3.title.is-3 Features
      .hero-body
        .columns.is-grid
          .column
            h4.title.is-4 Automated
            p Integrate release notes in your CI/CD pipeline
          .column
            h4.title.is-4 Realtime
            p Subscribe on release notes and receive fine grained notifications in realtime
          .column
            h4.title.is-4 Transparency
            p Let your customers and/or dependents know what's in your release
          .column
            h4.title.is-4 Open Source
            p Release Notes is build for the community, with the community

    if newest && newest.length
      .hero
        .hero-head
          h3.title.is-3 Latest Release Notes

        .hero-body
          .columns.is-grid.is-mobile.is-multiline
            each releaseNotes in newest
              .column.is-one-quarter-tablet.is-half-mobile
                a(href=`/@${releaseNotes.scope}/${releaseNotes.name}`)
                  | @#{releaseNotes.scope}/#{releaseNotes.name}
                div.is-small #{releaseNotes.title}
