.container
  nav.navbar.is-transparent.is-primary
    .navbar-brand
      a.navbar-item(href="/")
        img.logo(src=asset('img/release-notes-logo-white.svg'))

        h1 Release Notes Hub

      .navbar-burger.burger
        span
        span
        span

    .navbar-menu
      .navbar-end
        if !user
          a.navbar-item(href="/signin") Sign In
          a.navbar-item(href="/signup") Sign Up
        else
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link #{user.username || user.email}
            .navbar-dropdown.is-boxed.is-right
              a.navbar-item(href="/publish")
                span.icon
                  i.mdi !{mdi('upload')}
                span Publish Release Notes
              a.navbar-item(href="/release-notes")
                span.icon
                  i.mdi !{mdi('note-multiple-outline')}
                span Manage Release Notes
              a.navbar-item(href="/subscriptions")
                span.icon
                  i.mdi !{mdi('radar')}
                span Manage Subscriptions
              a.navbar-item(href="/organizations")
                span.icon
                  i.mdi !{mdi('account-multiple')}
                span Manage Organizations
              a.navbar-item(href="/auth-tokens")
                span.icon
                  i.mdi !{mdi('lock')}
                span Manage Auth Tokens
              .navbar-divider
              a.navbar-item(href="/signout")
                span.icon
                  i.mdi !{mdi('logout')}
                span Sign Out


append scripts
  script.
    document.addEventListener('DOMContentLoaded', function () {
      var burger = document.querySelector('.navbar-burger');
      var menu = document.querySelector('.navbar-menu');
      var submenuTrigger = document.querySelector('.navbar-item.has-dropdown > .navbar-link');

      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });

      if (submenuTrigger) {
        submenuTrigger.addEventListener('click', function () {
          this.parentNode.classList.toggle('is-active');
        });
      }
    });
