block globalVars
doctype html
html(lang="en")
  head
    block head
      title= metaTitle ? metaTitle : "Release Notes - For Everyone"
      meta(name="viewport" content="width=device-width,initial-scale=1")
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="description" content=metaDescription ? metaDescription : "Easy to use, human readable and machine processable release notes for everyone.")
      block stylesheets
        block appIcons
          link(rel="apple-touch-icon", sizes="180x180", href=asset('apple-touch-icon.png'))
          link(rel="icon", type="image/png", sizes="32x32", href=asset('favicon-32x32.png'))
          link(rel="icon", type="image/png", sizes="16x16", href=asset('favicon-16x16.png'))
          link(rel="manifest", href=asset('manifest.json'))
          link(rel="mask-icon", href=asset('safari-pinned-tab.svg'), color="#ed6c63")
          meta(name="apple-mobile-web-app-title", content="Release Notes")
          meta(name="application-name", content="Release Notes")
          meta(name="msapplication-TileColor", content="#ed6c63")
          meta(name="msapplication-TileImage", content=asset('mstile-144x144.png'))
          meta(name="theme-color", content="#ffffff")

        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href=asset("css/bulma.css"))
        link(rel='stylesheet' href=asset("css/release-notes.css"))

  body
    header
      block header
        include ./_header

    article(class=pageCls?pageCls:'')
      block content

    footer.footer
      block footer
        include ./_footer

    block scripts
