extends ../layout/dashboard

append globalVars
  - var metaTitle = 'Release Notes - Subscriptions'
  - var pageSubtitle = 'My Subscriptions'
  - var activeTab = 'subscriptions'

block pageContent
  if !subscriptions || !subscriptions.length
    .message
      .message-body
        p You have not subscriptions, yet.
  else
    table.table.is-fullwidth
      tr
        th Release Notes
        th Subscribed
        th
      each subscription in subscriptions
        tr
          td
            a(href=`/@${subscription.releaseNotesScope}/${subscription.releaseNotesName}`)
              | @#{subscription.releaseNotesScope}/#{subscription.releaseNotesName}
          td
            - var subscriptionMoment = moment(subscription.createdAt)
            small.has-text-grey(title=subscriptionMoment.format('LLL')) #{subscriptionMoment.fromNow()}
          td
            a.button(href=`/@${subscription.releaseNotesScope}/${subscription.releaseNotesName}/unsubscribe` title="Edit Subscription")
              span.icon
                i.mdi !{mdi('settings')}
